:root {
    --primary: white;
    --secondary: rgb(196, 196, 196);
    --tertiary: #231544;
    --background-light: #160e2b;
}

body {
    color: rgb(230, 230, 230);
    font-family: monospace;
    font-size: 15px;
    background-color: #120b23;
}

.no-link-stlye {
    text-decoration: none;
    color: inherit;
}

.primary-text {
    font-weight: bold;
}

.secondary-text {
    font-family: monospace;
    font-size: 12px;
    color: var(--secondary);
}

/*----header----*/

header {
    width: 95%;
    margin: 0 auto;

    display: flex;
    align-items: center;
}

#brand-logo > img{
    border-radius: 50%;
    background-color: #8096f8;
    padding: 1px;
    margin: 2px;
}
#brand-name {
    margin-right: 1rem;
}
#favorite {
    margin-right: auto;
}
/*----content---*/

#content {
    padding: 1rem 5%;
    display: flex;
}

/*----main----*/

main {
    width: 70%;
}

.section {
    display: flex;
    flex-flow: column;
    overflow-X: auto;
    margin: 2rem 0;
}

.section-heading {
    margin: 4px 0.5rem;
}

/*trending*/

#trending-container {
    display: flex;
    height: 10rem;
    align-items: center;
}

.trending-card {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 8rem;
    width: 6rem;
    border-radius: 2px;

    margin: 0.5rem;
    flex-grow: 1;
    flex-shrink: 1;

    transition: 0.1s ease-in-out;
}

.trending-card:hover {
    height: 10rem;
    width: 8rem;
}

#t-content-1 {
    background-color: khaki;
}

#t-content-2 {
    background-color: pink;
}

#t-content-3 {
    background-color: lightskyblue;
}

/*latest release*/

#latest-release-container {
    display: flex;
    flex-wrap: wrap;
}

.lr-card {
    display: flex;
    flex-grow: 1;
}

.lr-card > a {
    display: flex;
}
.lr-card > a:visited {
    color: var(--secondary);
}
.lr-card > a:hover {
    background-color: var(--tertiary);
    border-radius: 2px;
}

.lr-details {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 12rem;
}
.lr-title {
    font-weight: bold;
    margin-bottom: 2px;
}
.lr-date {
    font-size: 12px;
}

.lr-options {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lr-hamburger > a {
    color: var(--secondary);
}
.lr-duration {
    font-size: 11px;
}

/*popular artists*/

#pa-container {
    display: flex;
    justify-content: space-between;
}
#pa-container > a:hover {
    border-radius: 2px;
    background-color: var(--tertiary);
}

.pa-card {
    margin: 1rem;
}
.pa-img > img{
    border-radius: 50%;
    overflow: hidden;
}
.pa-name {
    text-align: center;
    overflow: hidden;

    font-family: sans-serif;
}

/*station*/

#s-container {
    display: flex;
    align-items: center;
    overflow: auto;
}

#station-logo {
    margin-right: 2rem;
}
.s-card {
    margin: 0.5rem;
    flex-grow: 1;
}

.s-img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;

    background-color: skyblue;

    display: flex;
    align-items: center;
    justify-content: center;
}

/*category*/

#c-container {
    display: flex;
}

#c-container > a{
    align-items: center;
    margin: 0 0.5rem;
    flex-grow: 1;
    flex-shrink: 1;
}

.c-card {
    height: 10rem;
    width: 100%;
    background-position: center;
    background-size: 25rem;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.1s ease-in;
}

#c-card-1 {
    background-image: url(images/party.jpg);
}

#c-card-2 {
    background-image: url(images/Electronics.jpg);
}

#c-card-3 {
    background-image: url(images/road-trip.jpg);
}

.c-card:hover {
    background-size: 20rem;
}

.c-heading {
    font-weight: bold;
    font-size: 1rem;
    color: var(--secondary);
    background-color: rgba(19, 1, 39, 0.486);
    border-radius: 4px;
}

/*latest english and hindi*/
#le-container, #lh-container {
    display: flex;
    overflow: auto;
}

#le-container > a, #lh-container > a{
    margin: 0 0.5rem;
    padding: 0.5rem;
    border-radius: 4px;
    
    background-color: var(--background-light);
}

#le-container > a:hover {
    background-color: var(--tertiary);
}
#lh-container > a:hover {
    background-color: var(--tertiary);
}
.le-card, .lh-card {
    display: flex;
    flex-direction: column;
}
.le-img, .lh-img {
    align-self: center;
}
.le-details, .lh-details {
    display: flex;
    flex-direction: column;
}

/*----aside----*/

aside {
    width: 25%;
    margin: 0 auto;
}





@media screen and (max-width: 1200px) {
    #content {
        padding: 1rem;
    }    
}

@media screen and (max-width: 992px) {
    main {
        width: 95%;
        margin: 0 auto;
    }
    aside {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    #t-content-3 {
        display: none;
    }
}
@media screen and (max-width: 576px){  
    #content {
        padding: 0;
    }
    main {
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 430px) {
    #t-content-2 {
        display: none;
    }
}